.pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  padding: 8px 32px;
}

.page-item {
  min-width: 32px;
  padding: 5px 10px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 6px;
}

.page-item:hover{
  background-color: #999;
}

.active {
  background-color: #0969da;
  color: white;
}
