*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

.App {
  font-size: 14px;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px;
}
